.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 74% 24%;
  gap: 1em;
  background-color: #1f2626;

  .lists {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    overflow: scroll;
  }

  .searcher {
    background-color: white;
    border: 1px solid blue;
    border-radius: 1em;
    margin: 1em 0;
    padding: 0.2em 1em;
  }
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;

  overflow: auto;

  &-searched {
    max-height: 75vh;
  }

  &-user {
    // grid-template-columns: repeat(8, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(7.5em, 1fr));
    grid-template-rows: max-content;
  }

  &__item {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.search-menu {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  &-text {
    display: flex;
    .pvt-mat-input {
      width: 100%;
    }

    .btn-search {
      color: #1d90ce;
    }
  }
}

.btn-save {
  display: block;
  width: 100%;
  background-color: #1d90ce;
  color: white;
  font-weight: 600;
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    visibility: hidden;
  }

  .mat-chip-list-wrapper {
    overflow-x: auto;
    flex-wrap: nowrap !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    //Borde de los mat-form-field
    color: #b6ddfe; //#009fee;
  }

  .mat-form-field-flex:hover .mat-form-field-outline {
    //Borde de los mat-form-fiel al hacer hover
    // opacity: 0; //Quita el color de los bordes en hover. Borrado de momento

    color: #00a2ff;
  }

  .mat-form-field-appearance-outline
    .mat-form-field-outline-thick
    .mat-form-field-outline-start,
  .mat-form-field-appearance-outline
    .mat-form-field-outline-thick
    .mat-form-field-outline-end,
  .mat-form-field-appearance-outline
    .mat-form-field-outline-thick
    .mat-form-field-outline-gap {
    //Ancho de los bordes de los mat-input T.T
    border-width: 1px !important;
  }

  input.mat-input-element {
    //Inputs de los mat-form-field
    // color: rgba(27, 35, 88, 0.6);
    color: #1b2358;
    // font-family: "hind_lightregular";
    font-family: "Kanit", sans-serif;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    //Label color on focust, floating label
    // color: #00a2ff !important;
    color: #186dff !important;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    //Borde on focus de los mat-form-field
    color: #186dff !important;
    border-width: 2px;
  }

  .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.13em 0px !important;
  }

  .mat-form-field-label-wrapper {
    top: -1.5em;
    overflow: visible !important; //Para alinear los placeholder
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    //El mat-label cuando se sube, haya contenido o este seleccionado
    transform: translateY(-1.2em) scale(0.75);
    width: 133.33333%;
    // font-family: "hind_lightregular";
    font-family: "Kanit", sans-serif;
  }

  .mat-form-field-flex {
    height: 44px;
  }

  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  .mat-form-field-empty.mat-form-field-label {
    //Mat-label de los mat-form-field, en estado inactivo, sin contenido
    // font-family: "hind_lightregular";
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    // margin-top: 0.2em;
  }

  .mat-form-field-appearance-outline .mat-form-field-prefix,
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    //Espacio desde el tope de los prefix y suffix (Las X y el calendario)
    top: 0.4em !important;
  }

  // .pvt-mat-input .mat-form-field-subscript-wrapper {
  // 	position: unset;
  // }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  //DISABLED
  .pvt-mat-input--disabled {
    .mat-form-field-should-float
      .mat-form-field-wrapper
      .mat-form-field-flex
      .mat-form-field-infix
      .mat-form-field-label-wrapper
      .mat-form-field-label {
      color: red;
    }

    .mat-form-field.mat-focused .mat-form-field-label {
      //Color del label, en estado normal
      color: red;
    }
  }
  .pvt-mat-input--disabled.mat-form-field-appearance-outline
    .mat-form-field-outline {
    //Borde de los mat-form-field
    color: red; //#009fee;
  }

  .pvt-mat-input--disabled.mat-form-field.mat-focused .mat-form-field-label {
    //Label color on focust, floating label
    color: red !important;
  }

  .pvt-mat-input--disabled.mat-form-field-appearance-outline.mat-focused
    .mat-form-field-outline-thick {
    //Borde on focus de los mat-form-field
    color: red !important;
    border-width: 1px;
  }
  //DISABLED END

  // .mat-body,
  // .mat-body-1,
  // .mat-typography {
  // 	//Solo para ejemplo
  // 	font: inherit;
  // }
}
