<!-- <div *ngIf="auth.user | async as user">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<button (click)="login()">Login</button> -->
<div style="display: flex; flex-direction: column">
  <div class="login-container">
    <div class="login-form">
      <mat-form-field class="pvt-mat-input" appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput type="text" [formControl]="email" />
        <button
          *ngIf="email.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
        >
          <mat-icon (click)="email.setValue('')">close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="pvt-mat-input" appearance="outline">
        <mat-label>Clave</mat-label>
        <input
          matInput
          [type]="isPasswordShowed ? 'text' : 'password'"
          [formControl]="password"
        />
        <button
          *ngIf="password.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
        >
          <mat-icon (click)="isPasswordShowed = !isPasswordShowed">{{
            isPasswordShowed ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-button class="btn-save" (click)="login()">Login</button>
      <button mat-button class="btn-save" (click)="logout()">Logout</button>
    </div>
  </div>
  <div class="footer-content">
    Designed by
    <img src="assets/kevin-davila.svg" alt="kevin-davila-logo" class="logo" />
    Kevin Davila
  </div>
</div>
