.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 74% 25%;
  gap: 1em;

  .lists{
      border: 1px solid peru;
  }

  .searcher{
      border: 1px solid blue;
  }
}
