<div class="container">
  <div class="lists"></div>
  <div class="searcher">
    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Clearable input</mat-label>
      <input matInput type="text" [formControl]="cardName" />
      <button *ngIf="cardName" matSuffix mat-icon-button aria-label="Clear">
        <mat-icon (click)="cardName.setValue('')">close</mat-icon>
      </button>
    </mat-form-field>

    <button (click)="searchCard(cardName.value)">Search</button>
    <hr />

    <!-- <ul>
      <li *ngFor="let card of cardResultsList">{{ card.name }}</li>
    </ul> -->

    <img
      *ngFor="let card of cardResultsList"
      [src]="card.card_images[0].image_url_small"
      alt=""
    />
  </div>
</div>
