.lists {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  overflow: scroll;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;

  overflow: auto;

  &-searched {
    max-height: 85vh;
  }

  &-user {
    // grid-template-columns: repeat(8, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(7.5em,1fr));
    grid-template-rows: max-content;
  }

  &__item {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

::ng-deep{
  .content-outer-container{
    background-color: #1d90ce;
  }
}